:root {
    --color-brand: #b00051;
    --color-background: white;
    --color-text: black;
    --flow-space: 1rem;
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-brand: #ff55a3;
        --color-background: black;
        --color-text: white;
    }
}

html,
body {
    background: var(--color-background);
}

html {
    height: 100%
}

body {
    color: var(--color-text);
    font-family: monospace;
    font-size: 16px;
    line-height: 1.4;
    margin: 0;
    min-height: 100%;
    overflow-wrap: break-word
}

header > :first-child,
main > :first-child,
footer > :first-child {
    margin-top: 0;
}

header > :last-child,
main > :last-child,
footer > :last-child {
    margin-bottom: 0;
}

h1,
h2,
h3 {
    margin-top: calc(var(--flow-space) * 2);
    margin-bottom: var(--flow-space);
}

hr {
    margin: calc(var(--flow-space) * 2) 0;
}

a {
    color: var(--color-brand);
}

p {
    margin: var(--flow-space) 0;
}

li {
    margin: 0.4rem 0;
}

body {
    max-width: 480px;
    margin: 0 auto;
    padding: 4rem 2rem;
}

hr {
    border: 0
}

hr:before {
    content: "/////"
}

hr:after {
    content: attr(data-content) "/////"
}

address {
    font-style: normal;
}

details+details {
    margin-top: calc(var(--flow-space) * 0.5);
}

summary {
    cursor: pointer;
}
