:root {
    --color-brand: #b00051;
    --color-background: white;
    --color-background-contrast: #efefef;
    --color-text: black;
    --flow-space: 1rem;
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-brand: #ff55a3;
        --color-background: black;
        --color-background-contrast: #595959;
        --color-text: white;
    }
}

html,
body {
    background: var(--color-background);
}

html {
    height: 100%
}

body {
    color: var(--color-text);
    font-family: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;
    font-size: 16px;
    line-height: 1.5;
    margin-inline: auto;
    max-inline-size: 480px;
    min-block-size: 100%;
    overflow-wrap: break-word;
    padding-block: 4rem;
    padding-inline: 2rem;
}

header>:first-child,
main>:first-child,
footer>:first-child {
    margin-block-start: 0;
}

header>:last-child,
main>:last-child,
footer>:last-child {
    margin-block-end: 0;
}

h1,
h2,
h3 {
    margin-block-start: calc(var(--flow-space) * 2);
    margin-block-end: var(--flow-space);
}

a {
    color: var(--color-brand);
}

hr {
    margin-block: calc(var(--flow-space) * 2);
    border: 0;

    &::before {
        content: "/////"
    }

    &::after {
        content: attr(data-content) "/////"
    }
}

p {
    margin-block: var(--flow-space);
}

li {
    margin-block: 0.4rem 0;
}

code {
    background-color: var(--color-background-contrast);
    border-radius: 4px;
    display: inline-block;
    font-size: 0.95em;
    padding-inline: 0.375em;
    word-break: break-word;
}

address {
    font-style: normal;
}

details+details {
    margin-block-start: calc(var(--flow-space) * 0.75);
}

summary {
    cursor: pointer;
}
